/node_modules
/coverage

/.husky/*
!/.husky/pre-commit
!/.husky/commit-msg

/packages/*/node_modules
/packages/*/dist/
/packages/*/build/
/packages/*/coverage/
/packages/*/package-lock.json

npm-debug.log*
*.tsbuildinfo
.eslintcache
